body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
}

button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}



li{
  background-color: white;
  border: 1px solid rgb(163, 162, 162);
  height: 70px;
  border-radius: 2px;
  margin-top: 10px;
  padding: 10px;
}

button{
  display: flex ;
}

#jokeList{
  list-style: none;
}